.sign-in__container {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  z-index: 100;
}
.sign-in__card {
  max-width: 510px;
  padding: 2rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgb(91, 91, 91);
}
.sign-in__card a {
  color: rgb(91, 91, 91);
}
.sign-in__toggle-btn {
  display: flex;
  gap: 50px;
}
.sign-in__toggle-input {
  accent-color: rgb(178, 0, 0);
  transform: scale(1.5);
}
.sign-in__toggle-input:checked + label {
  color: rgb(178, 0, 0);
}
.sign-in__toggle-label {
  font-weight: 500;
  margin-left: 7px;
  font-size: 16px;
  color: rgb(22, 22, 22);
}
.sign-in__form {
  margin: 1rem 0;
}
.sign-in__input-box {
  position: relative;
  margin-bottom: 1rem;
}
.sign-in__form-btn {
  width: 100%;
  padding: 0.7rem;
  text-transform: uppercase;
}
.sign-in__label-box {
  margin-bottom: 0.4rem;
}

.sign-in__input {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid rgb(210, 210, 210);
}
.sign-in__input:focus {
  outline: none;
  border: 1px solid rgb(210, 210, 210);
}
.sign-in__rules {
  margin-top: 0.4rem;
}
.eye {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
.sign-in__bottom {
  display: grid;
  place-items: center;
}
.sign-in__bottom > a {
  margin: 1rem 0;
}
.sign-in__or {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 1 / -1;
  grid-gap: 10px;
  align-items: center;
  margin: 1rem 0;
}

.sign-in__or::before,
.sign-in__or::after {
  display: block;
  content: "";
  height: 1px;
  background: rgb(210, 210, 210);
}
.sign-in__bottom-links {
  font-size: 10px;
  display: flex;
  gap: 7px;
  margin-top: 1rem;
}

.send {
  background: rgba(178, 0, 0, 0.8);
  border: 1px solid rgba(178, 0, 0, 0.8);
  color: rgb(241, 241, 241);
  margin-top: 1rem;
}

.facebook {
  background: rgb(66, 103, 178);
  border: 1px solid rgb(66, 103, 178);
  color: rgb(241, 241, 241);
  margin-bottom: 1rem;
}
